.trucoContenedorTutorial{
    width: 40%;
}

.trucoTutorial{
    background-image: linear-gradient(0deg, rgb(27, 32, 28), rgb(27, 87, 37));
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 30px;
}

.trucoManoMaquina{
    display: flex;
    justify-content: center;
    height: 105px;
}

.trucoManoJugador{
   display: flex;
   justify-content: center;
   height: 105px;
}


.trucoMesa{
    background-image: linear-gradient(0deg, rgb(17, 104, 36), rgb(83, 148, 94));
    height: 225px;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 15px;
  }
  
  .trucoMesaMaquina{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    
  }
  
  .trucoMesaJugador{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
  }

  
.acciones{
    display: flex;
    justify-content: space-between;
}

.botonComenzar{
    width: 70%;
    align-self: center;
    background-color: rgb(235, 176, 16);
    border-radius: 5px;
    border: none;
    margin: 2px;
}

.botonComenzar:hover{
    background-color: rgb(255, 187, 0);
    transition: 0.5s;
}

.botonEnvidoTutorial{
    width: 30%;
    border: none;
    border-radius: 5px;
    background-color: rgb(187, 146, 35);
    margin:2px
}

.botonEnvidoTutorial:hover{
    background-color: rgb(243, 181, 10);
    transition: 0.5s;
}

.cartaTutorialIA{
    margin-left: 20px;
    width: 70px;
    height: 100px;
}