.contenedorTutorial{
    width: 40%;
}

.envidoTutorial{
    background-image: linear-gradient(0deg, rgb(27, 32, 28), rgb(27, 87, 37));
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}


.sectorJugadorTutorial{
   display: flex;
   justify-content: space-around;
}

.sectorMaquinaTutorial{
    display: flex;
    justify-content: space-around;
}

.mesaTutorial{
    background-image: linear-gradient(0deg, rgb(17, 104, 36), rgb(83, 148, 94));
    height: 200px;
    width: 90%;
    align-self: center;
    border-radius: 15px;
    border: 2px solid black
}

.acciones{
    display: flex;
    justify-content: space-between;
}

.botonComenzar{
    width: 70%;
    align-self: center;
    background-color: rgb(235, 176, 16);
    border-radius: 5px;
    border: none;
    margin: 2px;
}

.botonComenzar:hover{
    background-color: rgb(255, 187, 0);
    transition: 0.5s;
}

.botonEnvidoTutorial{
    width: 30%;
    border: none;
    border-radius: 5px;
    background-color: rgb(187, 146, 35);
    margin:2px
}

.botonEnvidoTutorial:hover{
    background-color: rgb(243, 181, 10);
    transition: 0.5s;
}

/*EJEMPLO UNO ______________________________________________________________________________
/* Dialogo Jugador EJEMPLO 1 */
.vinetaJugadorEjemploUno{
  position:relative;
}

.globoJugadorEjemploUno{
    position: absolute;
    width: 100px;
    height: 50px; 
    top: 20px;
    left: -70px;
    padding: 1.5em;
    border-radius: 2em;
    font-family: sans-serif;
    z-index: 10; 
    background-color: rgb(92, 78, 170);
    filter: drop-shadow(0px 0px 1px black) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 15px;
}

  .globoJugadorEjemploUno::before{
    content: '';
    position: absolute; 
    z-index: -1;
    width: 10px;
    height: 10px;
    left: 95px;
    top: 20px;
    background-color: rgb(92, 78, 170);
    transform: skewX(45deg);
  }

/* Dialogo Maquina EJEMPLO 1 */
.vinetaMaquinaEjemploUno{
    position:relative;
  }
  
  .globoMaquinaEjemploUno{
    position: absolute;
    width: 100px;
    height: 50px; 
    top: -90px;
    left: -70px;
    padding: 1.5em;
    border-radius: 2em;
    font-family: sans-serif;
    z-index: 10; 
    background-color: rgb(92, 78, 170);
    filter: drop-shadow(0px 0px 1px black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 15px;
  }
  
  .globoMaquinaEjemploUno::before{
    content: '';
    position: absolute; 
    z-index: -1;
    width: 10px;
    height: 10px;
    left: 95px;
    top: 20px;
    background-color: rgb(92, 78, 170);
    transform: skewX(45deg);
  }

/*______________________________________________________________________________

  /* Dialogo Jugador EJEMPLO 2 */
.vinetaJugadorEjemploDos{
    position:relative;
  }
  
  .globoJugadorEjemploDos{
      position: absolute;
      width: 100px;
      height: 50px; 
      top: 20px;
      right: -70px;
      padding: 1.5em;
      border-radius: 2em;
      font-family: sans-serif;
      z-index: 10; 
      background-color: rgb(92, 78, 170);
      filter: drop-shadow(0px 0px 1px black) ;
      display: flex;
      justify-content: center;
      align-items: center;
      color: aliceblue;
      font-size: 15px;
  }
  
    .globoJugadorEjemploDos::before{
      content: '';
      position: absolute; 
      z-index: -1;
      width: 10px;
      height: 10px;
      right: 95px;
      top: 20px;
      background-color: rgb(92, 78, 170);
      transform: skewX(45deg);
    }

  /* Dialogo Maquina EJEMPLO 2 */

.vinetaMaquinaEjemploDos{
    position:relative;
  }
  
  .globoMaquinaEjemploDos{
    position: absolute;
    width: 100px;
    height: 50px; 
    top: -90px;
    right: -70px;
    padding: 1.5em;
    border-radius: 2em;
    font-family: sans-serif;
    z-index: 10; 
    background-color: rgb(92, 78, 170);
    filter: drop-shadow(0px 0px 1px black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 15px;
  }
  
  .globoMaquinaEjemploDos::before{
    content: '';
    position: absolute; 
    z-index: -1;
    width: 10px;
    height: 10px;
    right: 95px;
    top: 20px;
    background-color: rgb(92, 78, 170);
    transform: skewX(45deg);
  }