.componente-accesorios,
.accesorio-componente {
  display: flex;
  align-items: center;
}

.componente-accesorios {
  flex-direction: row;
  justify-content: center;
  /*border: 5px solid green;*/
  width: 100%;
}

.accesorio-componente {
  flex-direction: column;
  /*border:1px solid red;*/
}

.accesorio{
  width: 15rem;
}
.accesorio-imagen img{
  width: 200px;
  height: 200px;
}
.accesorio-imagen-d {
  width: 400px;
  height: 400px;
}

.botones{
  display:flex;
  flex-direction: column;
}

#detalles,
#comprar{
  padding: 15px;
  cursor: pointer;
}

.bt-comprar{
  cursor: pointer;
  font-size:20px;
}

.componente-btn {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.i-font{
  display: none;
}

.accesorio-detalle{
  width: 50rem;
}

.black, .white, .grey{
  border-radius: 100px;
  width: 30px;
  height: 30px;
}

.black{
  background: #000;
}

.white{
  background: #fff;
  border: 1px solid #000;
}

.grey{
  background: #8f8f8f;
}

/*801 a 1039*/
@media only screen and (max-width: 1039px) {
  .card {
    width: 12rem;
  }
  .accesorio-imagen,
  .accesorio-imagen > img{
      width: 150px;
      height: 150px;
  }
  
  .botones{
    flex-direction: row;
  }
  #detalles, #comprar{
    padding: 10px;
  }
  .texto-detalles, .texto-comprar{
    display: none;
  }

  .i-font{
    display: block;
    margin: auto;
    text-align: center;
  }

  #detalles, #comprar{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  .accesorio-detalle{
    width: 25rem;
    height: 418px;
  }

  .accesorio-imagen-d {
    width:200px;
    height:200px; 
  }

  .accesorio-imagen-d >img{
    width:100px;
    height:100px; 
  }

  /*.bt-comprar{
    font-size: 15px;
    width: 100%;
    padding: 3px;
  }*/

  .bt-comprar1{
    display: none;
  }

  #lista-detalles > li{

    width: 115px;
  }

  #lista-detalles li > select{

    width: 112px;
  }

}
