.componente-accesorios,
.accesorio-componente {
  display: flex;
  align-items: center;
}

.componente-accesorios {
  flex-direction: row;
  justify-content: center;
  /*border: 5px solid green;*/
  width: 100%;
}

.accesorio-componente {
  flex-direction: column;
  /*border:1px solid red;*/
}

.accesorio-imagen img {
  width: 200px;
  height: 200px;
}

.btn-detalles,
.btn-comprar {
  padding: 10px;
  margin-bottom: 4px;
}

.componente-btn {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.btn-detalles {
  color: #eac67a;
  margin-top: 4px;
  background: #233237;
}

.btn-comprar {
  color: #eac67a;
  background: #984b43;
}
.negro, .blanco, .gris{
  border-radius: 100px;
  width: 30px;
  height: 30px;
}

.negro{
  background: #000;
}

.blanco{
  background: #fff;
  border: 1px solid #000;
}

.gris{
  background: #8f8f8f;
}
