.informacion{
    animation-name: desplazamiento;
    height: 50px;
    animation-duration: 1s;
    background-color: #EAC67A;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@keyframes desplazamiento {
    0%{
        
        width: 10%;
    }
    
    100%{

        width: 100%;


    }
}

.info{
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color:white;
    border-radius: 20px;
    
}