.primario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.secundario {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1130px) {
  .secundario {
    width: 100%;
  }
}

@media only screen and (max-width: 915px) {
  .chat {
    display: none;
  }
}

.card {
  height: 200px;
  width: 170px;
  background-color: aliceblue;
}
