.main {
  width: 100%;
  height: 100vh!important;
  background-image: url("../../assets/fondoInicio.jpeg");
  background-size: 40%;
  background-position-y: center;
  height: auto;
}

.MuiDrawer-paper {
  width: 80px !important;
  }
  
#root{
  background-color: #d9d9d9;
}